<ion-view>
  <ion-nav-title>
    <h1 style="color:white;font-family:'Londrina Outline',cursive;">KiT</h1>
  </ion-nav-title>
  <ion-content class="account">
    <div class="card padding">
      <form name="signupForm" ng-submit="AC.signup(user)">
        <label class="item item-input item-floating-label">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Username" name="username" ng-model="user.username" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" name="password" ng-model="user.password" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm Password</span>
          <input type="password" placeholder="Confirm Password" name="confirmPassword" ng-model="user.confirmPassword" required compare-to="user.password" />
        </label>
        <button type="submit" class="button button-stable button-block" ng-disabled="signupForm.$invalid">Create Account</button>
      </form>
    </div>
  </ion-content>
</ion-view>
