<form name="createContactForm" ng-submit="ACC.addContact(name, phone, email, relationship, freq, notes)">

  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="name" ng-model="name">
  </label>
  <!-- how insert formatting automatically with tel input? -->
  <label class="item item-input item-floating-label">
    <span class="input-label">Phone</span>
    <input type="tel" placeholder="phone" ng-model="phone">
    <p><sub>(Note: KiT stores phone numbers exactly as you input them.)</sub></p>
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="email" ng-model="email">
  </label>


  <!-- <label> Relationship </label>
    <input type="radio" name="relationship" ng-model="relationship" value="social" checked> Social
    <input type="radio" name="relationship" ng-model="relationship" value="professional"> Professional<br> -->


    <ion-list>
      <ion-radio ng-model="relationship" ng-value="'social'">Social</ion-radio>
      <ion-radio ng-model="relationship" ng-value="'professional'">Professional</ion-radio>
    </ion-list>


    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          How often should KiT remind you?
        </div>
        <select>
          <option>Weekly</option>
          <option selected>Monthly</option>
          <option>Quarterly</option>
        </select>
      </label>

    </div>

    <!-- <label>Frequency
      <select name="freq" ng-model="freq">
        <option value="7">weekly</option>
        <option value="30">monthly</option>
        <option value="90">quarterly</option>
      </select>
    </label> -->

  <!-- frequency -->


  <label class="item item-input item-floating-label">
    <span class="input-label">Notes</span>
    <input type="text" placeholder="notes" ng-model="notes">
  </label>

<!-- buttons -->
<!-- form needs to be set to untouched/pristine on close and add -->
  <button ng-click="CC.showAddContactForm = !CC.showAddContactForm" class="button button-stable button-block">Close</button>

  <button type="submit" class="button button-stable button-block">Add</button>
<!-- buttons -->
</form>
