<form name="ACC.createContactForm">
  <label class="item item-input item-floating-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="name" ng-model="form.name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Phone</span>
    <input type="tel" placeholder="phone" ng-model="form.phone">
    <p><sub>(Note: KiT stores phone numbers exactly as you input them.)</sub></p>
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="email" ng-model="form.email">
  </label>

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Relationship
      </div>
      <select name="relationship" ng-model="form.relationship">
        <option ng-model="form.relationship" value="family">family</option>
        <option ng-model="form.relationship" value="social" selected>social</option>
        <option ng-model="form.relationship" value="professional">professional</option>
      </select>
    </label>
  </div>

  <div class="list">
    <label class="item item-input item-select">
      <div class="input-label">
        Frequency of Contact
      </div>
      <select name="freq" ng-model="form.freq">
        <option ng-model="form.freq" value="7">weekly</option>
        <option ng-model="form.freq" value="30" selected>monthly</option>
        <option ng-model="form.freq" value="90">quarterly</option>
      </select>
    </label>
  </div>

  <label class="item item-input item-floating-label">
    <span class="input-label">Notes</span>
    <input type="text" placeholder="notes" ng-model="form.notes">
  </label>

  <button ng-click="CC.showAddContactForm = !CC.showAddContactForm" class="button button-stable button-block">Close</button>
  <button ng-click="ACC.addContact(form.name, form.phone, form.email, form.relationship, form.freq, form.notes); ACC.setPristine(); form = {}" type="submit" class="button button-stable button-block">Add</button>
</form>
