<ion-view>
  <ion-nav-title>
      <h1 style="margin:0;display:inline-block;color:white;font-family:'Londrina Outline',seriff">KiT</h1>
      <img src="img/KiTlogo.png" style="height:65%"/>
  </ion-nav-title>
  <ion-content class="padding home">
    <div ng-show="HC.loginView.show" style="text-align:center">
      <h1 class="headline">KiT</h1>
      <img src="img/KiTlogo.png" style="width:80%;color:white;text-align"/>
      <h3 class="byline">Keep in Touch</h3>
      <a class="button button-stable button-block signin" href="#/tab/account">Sign in to get started.</a>
    </div>
    <div ng-hide="HC.loginView.show || HC.contacts.length > 0">
      <h1 style="color:white;text-align:center">Uh oh! It looks like you haven't added any contacts yet.</h1>
      <p style="color:white;text-align:center">Go ahead and add some from the 'contacts' tab.</p>
    </div>
    <div ng-hide="HC.loginView.show || HC.contacts.length === 0 || HC.suggestions.length === 0">
      <h2 style="text-align:center;color:white">Let's get in touch with:</h2>
      <h1 style="text-align:center;color:white;font-family:'Londrina Outline',cursive;font-size:7em">{{HC.contacts.randomContact.name}}</h1>
      <h1 style="text-align:center;color:white">Today!</h1>
      <hr>
      <h3 style="text-align:center;color:white">{{HC.contacts.randomContact.phone}}</h3>
      <h3 style="text-align:center;color:white">{{HC.contacts.randomContact.email}}</h3>
      <hr>
      <h3 style="text-align:center;color:white">Notes:</h3>
      <h3 style="text-align:center;color:white">{{HC.contacts.randomContact.notes}}</h3>
      <hr>
      <button class="button button-block button-stable button-large" ng-click="HC.contacts.updateLastContact()">Did it!</button>
      <button class="button button-block button-stable button-large" ng-show="HC.suggestions.length > 0" ng-click="HC.contacts.getRandomContact()">Another</button>
    </div>
    <div ng-show="HC.suggestions.current" ng-hide="HC.loginView.show">
        <h2 style="color:white;text-align:center">You're current! - There are no remaining suggestions.</h2>
    </div>
    <ka-contact-suggestion></ka-contact-suggestion>
  </ion-content>
</ion-view>
