<!-- CC (ContactController) -->

<ion-view>
  <ion-nav-title>
    <h1 style="color:white;font-family:'Londrina Outline',cursive;">KiT</h1>
  </ion-nav-title>
  <ion-content class="padding contact">
    <!-- Jimmy's contact button -->
    <button class="button button-positive button-block ion-ios-cloud-download-outline" ng-click="CC.getNativeContact()"> Get Contact </button>
    <button class="button button-positive button-block ion-plus-round" ng-click="CC.showAddContactForm = !CC.showAddContactForm"> Add Contact </button>
    <ka-add-contact ng-show="CC.showAddContactForm"></ka-add-contact>

    <ul class="list">
      <div ng-repeat="contact in CC.contacts.arr">
        <li class="item" ng-click="contact.showFormFunc()">
          <h2>{{contact.name}}</h2>

          <div ng-show="contact.showForm">
            <p>
              <span class="icon ion-ios-telephone-outline"></span> {{contact.phone}}</br>
              <span class="icon ion-ios-email-outline"></span> {{contact.email}}</br>
              <span class="icon ion-ios-body-outline"></span> {{contact.relationship}}</br>
              <!-- {{contact.frequency_of_contact}}</br> -->
              <span class="icon ion-ios-bookmarks-outline"></span> {{contact.notes}}</br>
              <small>Last contacted on: {{contact.last_contact}}</small></br>

              <button ng-click="contact.showEditFormFunc()" class="button ion-edit"> Edit </button>
              <button ng-click="contact.deleteContact()" class="button ion-trash-a"> Remove </button>

              <!-- <span ng-click="contact.showEditFormFunc()"><span class="icon ion-edit"></span> Edit </span> -->
              <!-- <span ng-click="contact.deleteContact()"><span class="icon ion-trash-a"></span> Delete</span> -->
            </p>
            <!-- Edit form goes here with ng-show="showEdit" -->
            <!-- <h2 ng-show="contact.showEditForm">THIS IS THE EDIT FORM</h2> -->

          </div>
          <h2 ng-show="contact.showEditForm">THIS IS THE EDIT FORM</h2>
        </li>
  </div>
</ul>

  </ion-content>
</ion-view>
