/* Empty. Add your own CSS if you like */
.home, .account, .contact {
  background-color: #581908;
}

.headline {
  font-family: 'Londrina Outline', cursive;
  font-size: 20em;
  text-align: center;
  color:white;
}

.byline {
  font-family: 'Londrina Outline', cursive;
  font-size: 5em;
  color:white;
  text-align:center;

}

.signin {
  color:white;
  text-align: center;
}

div.tab-nav.tabs {
  background-color: #983628;
}

ion-header-bar.bar-stable.bar {
  background-color: #983628;
}

i {
  color:white;
}

span.tab-title {
  color:white;
}

span.default-title {
  color:white;
}

#create-contact-form input {
  color: white;
}
#create-contact-form .input-label {
  color: #983628;
}

#edit-contact-form {
  position:relative;
  top: 2em;
}

.input-invalid-message {
  color: gray;
}
.input-valid-message {
  color: green;
}
#passwords-match-message {
  color: green;
}
