/* Empty. Add your own CSS if you like */

.home, .account, .contact {
  background-color: #581908;
}

.headline {
  font-family: 'Londrina Outline', cursive;
  font-size: 15em;
  line-height: .8;
  text-align: center;
  color: white;
}

.byline {
  font-family: 'Londrina Outline', cursive;
  font-size: 4em;
  color: white;
  text-align: center;
}

.signin {
  color: white;
  text-align: center;
}

div.tab-nav.tabs {
  background-color: #983628;
}

ion-header-bar.bar-stable.bar {
  background-color: #983628;
}

i {
  color: white;
}

span.tab-title {
  color: white;
}

span.default-title {
  color: white;
}

#add-contact-email-input {
  margin-bottom: 1.3em;
}

#create-contact-form {
  background-color: white;
  padding-bottom: 5px;
}

#create-contact-form input {
  color: black;
}

#create-contact-form button {
  color: white;
  background-color: #983628;
  margin-bottom: 5px;
  width: 90%;
  margin-left: 5%;
}

#create-contact-form .input-label {
  color: #983628;
}

#edit-contact-form {
  position: relative;
  top: 2em;
}

.error-message {
  color: red;
}

.input-invalid-message {
  color: gray;
}

.input-valid-message {
  color: green;
}

#passwords-match-message {
  color: green;
}
